# 🔐 DATABASE & AUTH
SUPABASE_URL=
SUPABASE_KEY=

# 🛡️ CRYPTO SECURITY
# AES-256-GCM encryption key (32 bytes random string)
ENCRYPTION_KEY=

# 💎 HEDERA TREASURY (Required for Memo-based Deposits)
HEDERA_TREASURY_WALLET=0.0.10382983
TREASURY_PRIVATE_KEY=
HEDERA_RPC=https://testnet.hashio.io/api

# 🤖 AI CONFIG
GEMINI_API_KEY=
OPEN_ROUTER_API=

# 📡 TELEGRAM BOT
TELEGRAM_TOKEN=

# ⚙️ SYSTEM
PORT=3000
NODE_ENV=production